$space_05: 0.5rem;
$space_075: 0.75rem;
$space_1: 1rem;

$p_05: 0.5rem;
$p_075: 0.75rem;
$p_1: 1rem;

$border_r: 0.5rem;



$color_w1: #FAFAFA;
$color_w2: #E6E6E6;
$color_w3: #F2F2F2;
$color_w4b: #E3E3E3;
$color_w5b: #D9D9D9;
$color_accent1: #D40B2F;
$color_accent2: #1A1A1A;

$gradient1: linear-gradient(90deg, rgba(193, 193, 193, 0) 20%, rgba(136, 136, 136, 1) 50%, rgba(193, 193, 193, 0) 80%);


$drop-shadow: 0px 5px 50px 0px rgba(0, 67, 101, 0.08);
$drop-shadow2: 0px 2px 6px 0px rgba(130, 169, 188, 0.08);

$shadow_perfect: $drop-shadow, $drop-shadow2;